.checksheetinputBox,
.checksheetinputBox:hover {
    border-radius: 4px;
    box-shadow: 0 0 2px 1px #eae1ea;
    border: 1px solid #dedede;
    background: #fff;
}
.checksheetForm {
    border: 1px solid #7044cd;
    padding: 0px 5px 10px 0px;
    margin-bottom: 10px;
}
