<div class="row modal-header stage-header">
    <div class="col-11">
        <div class="modal-title">OJT Registartion Details</div>
    </div>
    <div class="col-1">
        <button type="button" class="close" (click)="closeModal()">
            <span>×</span>
        </button>
    </div>
</div>
<div *ngIf="dayList" class="modal-body" style="height: 86.5%;padding-bottom: 0px;">
    <perfect-scrollbar [style.max-height]="'calc(81vh)'">
        <div class="expand-card" *ngFor="let skilling of dayWiseAuditList; let k = index;">
            <div class="title" (click)="expandSkilling(k)">Skilling {{k
                + 1}}<i class="fa"
                    [ngClass]="{'fa-minus': skilling.expand === true, 'fa-plus': skilling.expand === undefined || skilling.expand === false}"
                    aria-hidden="true"></i>
            </div>
            <div class="content hidden" [ngClass]="{'expand': skilling.expand}">
                <div class="table-block">
                    <div class="expand-card" *ngFor="let day of skilling.dayWiseAuditList
                    ; let i = index;">
                        <div *ngIf="!day.tlAudit && !day.assessmentAudit" class="title" (click)="expand(k,i)">Day {{i
                            + 1}}<i class="fa"
                                [ngClass]="{'fa-minus': day.expand === true, 'fa-plus': day.expand === undefined || day.expand === false}"
                                aria-hidden="true"></i></div>
                        <div class="content hidden" *ngIf="!day.tlAudit && !day.assessmentAudit"
                            [ngClass]="{'expand': day.expand && !day.tlAudit && !day.assessmentAudit}">
                            <div class="table-block">
                                <ng-container *ngFor="let audit of day.dayAudit">
                                    <div class="table-responsive tableFixHead">
                                        <div class="stage-title">
                                            <div class="index">{{audit.stageId}}</div>
                                            <div class="text">{{audit.stage}} ( {{audit.empName}} )</div>
                                        </div>
                                        <table class="table" matSort *ngIf="audit.stageId == 1">
                                            <thead>
                                                <tr>
                                                    <th class="fixedColumn">Day</th>
                                                    <th class="">Date</th>
                                                    <th class="">Key Point</th>
                                                    <th class="">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of audit.auditPointList">
                                                    <td>{{item.dayNo || ''}}</td>
                                                    <td>{{item.assignedDate | date: 'dd-MM-yyyy'}}</td>
                                                    <td>{{item.keyPoint || ''}}</td>
                                                    <td
                                                        [ngClass]="{'completed':item.status == 'COMPLETED','pending':item.status == 'PENDING', 'rejected':item.status == 'REJECTED', 'not-completed':item.status == 'NOT COMPLETED'}">
                                                        {{item.status || ''}}</td>
                                                </tr>
                                                <tr
                                                    *ngIf="(audit.auditPointList == null || audit.auditPointList.length == 0)">
                                                    <td colspan="4" class="text-center">
                                                        Data Not Found
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <!-- <tbody *ngIf="(audit.auditPointList != null || audit.auditPointList.length != 0)">
                                                <tr>
                                                    <td colspan="2">OE Comment</td>
                                                    <td colspan="2">{{audit.auditPointList[0].oeComment}}</td>
                                                </tr>
                                            </tbody> -->
                                            <tbody *ngIf="(audit.auditPointList != null || audit.auditPointList.length != 0)">
                                                <tr>
                                                    <td colspan="2">OE Comment</td>
                                                    <td colspan="2"><textarea disabled style="border: none;" class="form-control textarea-custom" name="" id="" rows="2" [(ngModel)]="audit.auditPointList[0].oeComment" maxlength="1000"></textarea></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered" matSort *ngIf="audit.stageId == 2">
                                            <thead>
                                                <tr>
                                                    <th class="fixedColumn" style="text-align: center;">Day</th>
                                                    <th class="">Date</th>
                                                    <th class="">Key Point</th>
                                                    <th class="">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of audit.auditPointList">
                                                    <td>{{item.dayNo}}</td>
                                                    <td>{{item.assignedDate | date: 'dd-MM-yyyy'}}</td>
                                                    <td>{{item.keyPoint}}</td>
                                                    <td
                                                        [ngClass]="{'completed':item.status == 'COMPLETED','pending':item.status == 'PENDING', 'rejected':item.status == 'REJECTED', 'not-completed':item.status == 'NOT COMPLETED'}">
                                                        {{item.status || ''}}</td>
                                                </tr>
                                                <tr
                                                    *ngIf="(audit.auditPointList == null || audit.auditPointList.length == 0)">
                                                    <td colspan="4" class="text-center">
                                                        Data Not Found
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <!-- <tbody *ngIf="(audit.auditPointList != null || audit.auditPointList.length != 0)">
                                                <tr>
                                                    <td colspan="2">Trainer Activity Comment</td>
                                                    <td colspan="2">{{audit.auditPointList[0].trainerActComment}}</td>
                                                </tr>
                                            </tbody> -->
                                            <tbody *ngIf="(audit.auditPointList != null || audit.auditPointList.length != 0)">
                                                <tr>
                                                    <td colspan="2">Trainer Activity Comment</td>
                                                    <td colspan="2"><textarea disabled style="border: none;" class="form-control textarea-custom" name="" id="" rows="2" [(ngModel)]="audit.auditPointList[0].trainerActComment" maxlength="1000"></textarea></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered" matSort *ngIf="audit.stageId == 3">
                                            <thead>
                                                <tr>
                                                    <th scope="col" rowspan="2">Day</th>
                                                    <th scope="col" rowspan="2">Date</th>
                                                    <th scope="col" colspan="2"
                                                        *ngIf="checkParameter(audit.parameterList, 'cyclePlan')"
                                                        style="text-align: center;">Production</th>
                                                    <ng-container *ngIf="checkParameter(audit.parameterList, 'Text')">
                                                        <th scope="col" rowspan="2">{{getParameterDataByLabel('Text',
                                                            0,k)}}</th>
                                                    </ng-container>
                                                    <ng-container *ngIf="checkParameter(audit.parameterList, 'Number')">
                                                        <th scope="col" rowspan="2">{{getParameterDataByLabel('Number',
                                                            0,k)}}</th>
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="checkParameter(audit.parameterList, 'Datetime') && getParameterDataByLabel('Datetime', 0,k) !=0">
                                                        <th scope="col" rowspan="2">
                                                            {{getParameterDataByLabel('Datetime', 0,k)}}
                                                        </th>
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="checkParameter(audit.parameterList, 'Datetime') && getParameterDataByLabel('Datetime', 1,k) !=0">
                                                        <th scope="col" rowspan="2">
                                                            {{getParameterDataByLabel('Datetime', 1,k)}}
                                                        </th>
                                                    </ng-container>
                                                    <ng-container *ngIf="checkParameter(audit.parameterList, 'Model') && getParameterDataByLabel('Model', 0,k) !=0">
                                                        <th scope="col" rowspan="2">{{getParameterDataByLabel('Model',
                                                            0,k)}}
                                                        </th>
                                                    </ng-container>
                                                    <ng-container *ngIf="checkParameter(audit.parameterList, 'Model') && getParameterDataByLabel('Model', 1,k) !=0">
                                                        <th scope="col" rowspan="2">{{getParameterDataByLabel('Model',
                                                            1,k)}}
                                                        </th>
                                                    </ng-container>
                                                    <ng-container *ngIf="checkParameter(audit.parameterList, 'Gap')">
                                                        <th scope="col" rowspan="2">Gap Reason</th>
                                                    </ng-container>
                                                    <ng-container *ngIf="isCyclePlan(audit.parameterList) > 0">
                                                        <ng-container
                                                            *ngFor="let cycle of getCyclePlanList(audit.parameterList); let i = index">
                                                            <th scope="col" colspan="2" style="text-align: center;">
                                                                Cycle {{ i + 1
                                                                }}</th>
                                                        </ng-container>
                                                    </ng-container>
                                                    <th scope="col" rowspan="2">Status</th>
                                                </tr>
                                                <tr>
                                                    <ng-container
                                                        *ngIf="checkParameter(audit.parameterList, 'cyclePlan')">
                                                        <th scope="col">Plan</th>
                                                        <th scope="col">Actual</th>
                                                    </ng-container>
                                                    <ng-container *ngIf="isCyclePlan(audit.parameterList) > 0">
                                                        <ng-container
                                                            *ngFor="let cycle of getCyclePlanList(audit.parameterList);">
                                                            <th scope="col">Standard</th>
                                                            <th scope="col">Actual</th>
                                                        </ng-container>
                                                    </ng-container>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- <tr *ngFor="let item of audit.auditPointList"> -->
                                                <tr>
                                                    <!-- <td>{{item.dayNo}}</td> -->
                                                    <td>{{audit.auditPointList[0].dayNo}}</td>
                                                    <!-- <td>{{item.assignedDate | date: 'dd-MM-yyyy'}}</td> -->
                                                    <td>{{audit.auditPointList[0].assignedDate | date: 'dd-MM-yyyy'}}
                                                    </td>
                                                    <ng-container
                                                        *ngIf="checkParameter(audit.parameterList, 'cyclePlan')">
                                                        <td>{{isCyclePlan(audit.parameterList)}}</td>
                                                        <td>{{getParamaterData(audit.parameterList, 'cyclePlan')}}</td>
                                                    </ng-container>
                                                    <ng-container *ngIf="checkParameter(audit.parameterList, 'Text')">
                                                        <td>{{getParamaterData(audit.parameterList, 'Text')}}</td>
                                                    </ng-container>
                                                    <ng-container *ngIf="checkParameter(audit.parameterList, 'Number')">
                                                        <td>{{getParamaterData(audit.parameterList, 'Number')}}</td>
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="checkParameter(audit.parameterList, 'Datetime') && getParameterDataByValue('Datetime', 0,k) !=0">
                                                        <td>{{getParameterDataByValue('Datetime', 0,k)}}</td>
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="checkParameter(audit.parameterList, 'Datetime') && getParameterDataByValue('Datetime', 1,k) !=0">
                                                        <td>{{getParameterDataByValue('Datetime', 1,k)}}</td>
                                                    </ng-container>
                                                    <ng-container *ngIf="checkParameter(audit.parameterList, 'Model') && getParameterDataByValue('Model', 0,k) !=0">
                                                        <td>{{getParameterDataByValue('Model', 0,k)}}</td>
                                                    </ng-container>
                                                    <ng-container *ngIf="checkParameter(audit.parameterList, 'Model') && getParameterDataByValue('Model', 1,k) !=0">
                                                        <td>{{getParameterDataByValue( 'Model', 1,k)}}</td>
                                                    </ng-container>

                                                    <ng-container *ngIf="isCyclePlan(audit.parameterList) > 0">
                                                        <td>{{getParamaterData(audit.parameterList, 'Gap')}}</td>
                                                    </ng-container>
                                                    <ng-container *ngIf="isCyclePlan(audit.parameterList) > 0">
                                                        <ng-container
                                                            *ngFor="let cycle of getCyclePlanList(audit.parameterList);">
                                                            <td>{{cycle.actualValue}}</td>
                                                            <td>{{cycle.expectedValue}}</td>
                                                        </ng-container>
                                                    </ng-container>
                                                    <!-- <td [ngClass]="{'completed':item.status == 'COMPLETED','pending':item.status == 'PENDING', 'rejected':item.status == 'REJECTED', 'not-completed':item.status == 'NOT COMPLETED'}">{{item.status || ''}}</td> -->
                                                    <td
                                                        [ngClass]="{'completed':audit.auditPointList[0].status == 'COMPLETED','pending':audit.auditPointList[0].status == 'PENDING', 'rejected':audit.auditPointList[0].status == 'REJECTED', 'not-completed':audit.auditPointList[0].status == 'NOT COMPLETED'}">
                                                        {{audit.auditPointList[0].status || ''}}</td>
                                                </tr>
                                                <tr
                                                    *ngIf="(audit.auditPointList == null || audit.auditPointList.length == 0)">
                                                    <td colspan="4" class="text-center">
                                                        Data Not Found
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered" matSort *ngIf="audit.stageId == 4">
                                            <thead>
                                                <tr>
                                                    <th class="fixedColumn">Day</th>
                                                    <th class="">Date</th>
                                                    <th class="">Key Point</th>
                                                    <th class="">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of audit.auditPointList">
                                                    <td>{{item.dayNo}}</td>
                                                    <td>{{item.assignedDate | date: 'dd-MM-yyyy'}}</td>
                                                    <td>{{item.keyPoint}}</td>
                                                    <td
                                                        [ngClass]="{'completed':item.status == 'COMPLETED','pending':item.status == 'PENDING', 'rejected':item.status == 'REJECTED', 'not-completed':item.status == 'NOT COMPLETED'}">
                                                        {{item.status || ''}}</td>
                                                </tr>
                                                <tr
                                                    *ngIf="(audit.auditPointList == null || audit.auditPointList.length == 0)">
                                                    <td colspan="4" class="text-center">
                                                        Data Not Found
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <!-- <tbody *ngIf="(audit.auditPointList != null || audit.auditPointList.length != 0)">
                                                <tr>
                                                    <td colspan="2">QA Comment</td>
                                                    <td colspan="2">{{audit.auditPointList[0].comment}}</td>
                                                </tr>
                                            </tbody> -->
                                            <tbody *ngIf="(audit.auditPointList != null || audit.auditPointList.length != 0)">
                                                <tr>
                                                    <td colspan="2">QA Comment</td>
                                                    <td colspan="2">
                                                        <textarea disabled style="border: none;" class="form-control textarea-custom" name="" id="" rows="2" [(ngModel)]="audit.auditPointList[0].comment" maxlength="1000"></textarea>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="expand-card" *ngFor="let day of skilling.dayWiseAuditList; let i = index;">
                        <span *ngIf="day.tlAudit">
                            <div *ngFor="let audit of day.tlAudit; let j = index;">
                                <div class="title" (click)="tlAuditExpand(k,i,j)">{{audit.stage}} ( {{audit.empName}}
                                    )<i class="fa"
                                        [ngClass]="{'fa-minus': audit.expand === true, 'fa-plus': audit.expand === undefined || audit.expand === false}"
                                        aria-hidden="true"></i></div>
                                <div class="content hidden" [ngClass]="{'expand': audit.expand}">
                                    <div class="table-block">
                                        <ng-container>
                                            <table class="table table-bordered" matSort *ngIf="audit.stageId == 5">
                                                <thead>
                                                    <tr>
                                                        <th class="fixedColumn">Emp. Name</th>
                                                        <th class="">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{audit.empName}}</td>
                                                        <td
                                                            [ngClass]="{'completed':audit.status == 'COMPLETED','pending':audit.status == 'PENDING', 'rejected':audit.status == 'REJECTED', 'not-completed':audit.status == 'NOT COMPLETED'}">
                                                            {{audit.status || ''}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="expand-card" *ngFor="let day of skilling.dayWiseAuditList; let i = index;">
                        <span *ngIf="day.assessmentAudit">
                            <div *ngFor="let audit of day.assessmentAudit; let j = index;">
                                <div class="title" (click)="assessmentAuditExpand(k,i,j)">Assessment ( {{audit.empName}}
                                    )<i class="fa"
                                        [ngClass]="{'fa-minus': audit.expand === true, 'fa-plus': audit.expand === undefined || audit.expand === false}"
                                        aria-hidden="true"></i></div>

                                <div class="content hidden" [ngClass]="{'expand': audit.expand}">
                                    <div class="table-block">
                                        <ng-container>
                                            <table class="table table-bordered" matSort *ngIf="audit.stageId == 0">
                                                <thead>
                                                    <tr>
                                                        <th class="fixedColumn">Assessment Title</th>
                                                        <th class="">Date</th>
                                                        <th class="">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{audit.title}}</td>
                                                        <td>{{audit.assignedDate | date: 'dd-MM-yyyy'}}</td>
                                                        <td
                                                            [ngClass]="{'completed':audit.status == 'COMPLETED','pending':audit.status == 'PENDING', 'rejected':audit.status == 'REJECTED', 'not-completed':audit.status == 'NOT COMPLETED'}">
                                                            {{audit.status || ''}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </perfect-scrollbar>
</div>
<div class="modal-footer paginationFooter">
    <div class="row m-0">
        <div class="col-12 text-right">
            <button type="button" class="btn cancelBtn" (click)="closeModal()"
                style="margin-left: 10px;">Cancel</button>
        </div>
    </div>
</div>