.Actulscre {
    background: #8dd995 0% 0% no-repeat padding-box;
    border-radius: 4px;
    height: 2em;
    text-align: center;
    font: normal normal bold 16px/20px Helvetica Neue;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}

.RedActulscre {
    background: #ff0000 0% 0% no-repeat padding-box;
    border-radius: 4px;
    height: 2em;
    text-align: center;
    font: normal normal bold 16px/20px Helvetica Neue;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}

.ActlSc {
    text-align: center;
    padding: 5px;
    font-size: 14px;
}

.Desired {
    background: #f8f8f8 0% 0% no-repeat padding-box !important;
    opacity: 1;
}

.count {
    padding-left: 8px;
}

.statusDiv {
    width: 16.7em;
    left: 61.8em;
    position: absolute;
    top: -2rem;
    background: #f8f8f8 0% 0% no-repeat padding-box;
    border-radius: 15px 16px 0px 0px;
    opacity: 1;
}

.statusbtn {
    border: none;
    outline: none;
    background: #f8f8f8;
    font: normal normal bold 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    width: 10.3em;
    color: #707070;
    text-align: center;
    text-transform: uppercase;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 91px;
}

.statusbtn:hover,
.statusbtn:focus {
    outline: none;
    border: none;
}

.txt-center {
    text-align: center;
}

.alt-icon {
    font-size: 16px;
    line-height: 1.5;
    color: #1fa0e2;
    float: right;
    cursor: pointer;
}

.close-icon {
    font-size: 40px;
    color: #1f1f9e;
}

.orange {
    color: #f8ba49;
}

.green {
    color: #40b040;
}

.action-header {
    background: #ddedf4 !important;
    width: 10em;
    border-top-right-radius: 50px !important;
    border: 1px solid white;
    border-top: 3px solid white;
}

.countColor {
    font: normal normal bold 30px/1.5 Helvetica Neue;
    letter-spacing: 0px;
    color: #8dd995;
    margin-bottom: 0px;
    opacity: 1;
}

.atmacCount {
    color: #80ac23;
}

.last-td {
    background: #ddedf4;
}

.th-style {
    background-color: #fff;
}

.knw-txt {
    border: 1px solid #ffffff;
    background: white;
    border-radius: 3px;
    padding: 3px;
    color: #1fa0e2;
    font: normal normal 500 10px/22px Helvetica Neue;
    cursor: pointer;
}

.popup-header-txt {
    width: 20em;
    font: normal normal 500 20px/27px Helvetica Neue;
    padding-top: 5px;
    padding-left: 0%;
    padding-right: 0%;
}

.closebtn1 {
    padding-right: 38px;
    padding-top: 22px;
    font-weight: 400;
}

.closebtn {
    font-weight: 400;
}

.planthead {
    top: 0.7em;
    color: #1fa0e2;
    font: normal normal 500 20px/24px Helvetica Neue;
}

.name {
    top: 0.7em;
    font: normal normal 500 22px/27px Helvetica Neue;
}

.connect {
    top: 1.5em;
    font: normal normal 500 13px/10px Helvetica Neue;
}

.pending1 {
    top: 2.5em;
    font: normal normal 400 22px/28px Helvetica Neue;
}

.pdbtmstyl {
    border-bottom: 3px solid #b5def7;
    top: 0.5em;
    right: 3em;
}

.compl {
    top: 2.5em;
    font: normal normal 400 20px/40px Helvetica Neue;
}

.close-icon1 {
    font-size: 54px;
    color: #161819;
}

.skill-table {
    font-family: Helvetica Neue;
    border: 2px solid #c8e4f5;
    width: 90%;
    left: 3em;
}

// .fixedHead {
//   overflow-y: auto;
//   height: calc(100vh - 150px);
//   // border-bottom: 2px solid #8ed2ed;
//   /* width */
//   &::-webkit-scrollbar {
//     width: 5px;
//     cursor: pointer;
//   }
//   /* Track */
//   &::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 5px #bbd9e5;
//     border-radius: 10px;
//   }
//   /* Handle */
//   &::-webkit-scrollbar-thumb {
//     background: #1fa0e2;
//     border-radius: 10px;
//   }
// }
// .tableFixHead {
//   overflow-y: auto;
//   height: calc(100vh - 220px);
//   // border-bottom: 2px solid #8ed2ed;
//   /* width */
//   &::-webkit-scrollbar {
//     width: 5px;
//     cursor: pointer;
//   }
//   /* Track */
//   &::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 5px #bbd9e5;
//     border-radius: 10px;
//   }
//   /* Handle */
//   &::-webkit-scrollbar-thumb {
//     background: #1fa0e2;
//     border-radius: 10px;
//   }
// }
// .tableFixHead1 {
//   overflow-y: auto;
//   /* width */
//   &::-webkit-scrollbar {
//     width: 5px;
//     cursor: pointer;
//   }
//   /* Track */
//   &::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 5px #bbd9e5;
//     border-radius: 10px;
//   }
//   /* Handle */
//   &::-webkit-scrollbar-thumb {
//     background: #1fa0e2;
//     border-radius: 10px;
//   }
// }
// .tableFixHead thead th {
//   position: sticky;
//   top: 0;
//   z-index: 1;
//   background-color: #ffffff;
// }
// .tableFixHead tbody th {
//   position: sticky;
//   left: 0;
// }
.question_ans_container {
    border-bottom: 2px solid #01a0e2;
    opacity: 1;
    background-color: #ffff;
    width: 100%;
    padding-left: 32px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.question_ans_slider {
    width: 100%;
    background: #f1f1f1 0% 0% no-repeat padding-box;
    border-radius: 17px;
    opacity: 1;
    padding-bottom: 20px;
}

.question_number {
    border: none;
    outline: none;
    outline-style: none;
    width: 36px;
    background: #01a0e2 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
    font-weight: bold;
    color: #ffff;
    height: 35px;
}

.AnsBlock {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 9px;
    opacity: 1;
}

.Options {
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 0px;
    color: #01a0e2;
    text-transform: capitalize;
    line-height: 19px;
}

.questions {
    line-height: 19px;
    font-weight: 900;
    letter-spacing: 0px;
    color: #4c4c4c;
    text-transform: capitalize;
    opacity: 1;
}

.ans {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #464646;
    opacity: 1;
}

.question_container_cancel_btn {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 5px solid #eeedf2;
    border-radius: 2px;
    width: 30%;
    margin-left: 10%;
    font-size: 15px;
    line-height: 22px;
    font-family: Helvetica Neue;
    letter-spacing: 0px;
    color: #373737;
    opacity: 1;
}

.assessmen_det_header {
    padding-bottom: 0px;
    // margin-left: 20px;
    // margin-top: 10px;
    font-size: 20px;
    // padding: 5px;
    font-family: Helvetica Neue;
    letter-spacing: 0px;
    color: #464646;
    text-transform: uppercase;
    margin-top: 16px;
}

// .bgWarning {
//     background: #ffcc74 0% 0% no-repeat padding-box;
//     border-radius: 14px;
//     border-top: 3px solid #fff;
//     border-bottom: 3px solid #fff;
//     margin-left: -1em;
// }
// .bgSuccess {
//     width: 15%;
//     background: #8dd995 0% 0% no-repeat padding-box;
//     border: 3px solid #ffffff;
//     border-radius: 14px;
// }
// .bginfo {
//   // border: 3px solid var(--unnamed-color-ffffff);
//   background: #92B3D9 0% 0% no-repeat padding-box;
//   border-top: 3px solid #fff;
//   border-bottom: 3px solid #fff;
//   // border-radius: 14px;
//   // margin-left: -1em;
// }
// .info {
//     color: #7c8dde;
// }
.progressMargin {
    // margin-left: -1em;
    // border-radius: 14px;
}

// .bgdanger {
//   background: #FF7979 0% 0% no-repeat padding-box;
//   border-radius: 14px;
//   border-top: 3px solid #fff;
//   border-bottom: 3px solid #fff;
//   opacity: 1;
//   margin-left: -1em;
// }
.count1 {
    font: normal normal normal 64px/84px Helvetica Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.Participants1 {
    font: normal normal 500 16px/20px Helvetica Neue !important;
    letter-spacing: 0px;
    color: #474747;
    opacity: 1;
}

/***********************/

.count2 {
    font: normal normal bold 44px/59px Helvetica Neue;
    letter-spacing: 0px;
    color: #ffcc74;
    opacity: 1;
    margin-left: 1em;
}

.Participants2 {
    font: normal normal normal 18px/30px Helvetica Neue;
    letter-spacing: 0px;
    color: #474747;
    opacity: 1;
    padding: 4px 1em;
}

// .tableFixHead {
//   table {
//     border-collapse: collapse;
//     width: 99.9%;
//     margin: 0px;
//   }
//   th,
//   td {
//     padding: 8px 16px;
//   }
//   th {
//     background: #f2f2f2;
//     color: #707070;
//     font: normal normal 500 13px/1.5 Helvetica Neue;
//     &.actionTh {
//       background: rgba(186, 223, 238, 0.28) !important;
//       width: 10em;
//       text-align: center;
//     }
//     .sortIcon {
//       position: absolute;
//       right: 2px;
//       top: 10px;
//       color: #1fa0e2;
//       font-size: 1.3rem;
//       z-index: 999;
//     }
//   }
//   td {
//     background: #fff;
//     color: #2a2a2a;
//     font: normal normal 400 13px/1.5 Helvetica Neue;
//     border: 1px solid #f0f7f9;
//     &.completed {
//       color: #a9e2af;
//       font-weight: 500;
//     }
//     &.pending {
//       color: #fdd285;
//       font-weight: 500;
//     }
//     &.actionTd {
//       background: rgb(187, 217, 229, 0.28);
//       text-align: center;
//       margin: auto;
//       // border-top-right-radius:10px;
//       border: none;
//       width: 10em;
//     }
//   }
// }
.applyfilterbtn {
    background: #01a0e2 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    font: normal normal bold 18px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #ffffff;
    border: none;
    width: 7em;
    height: 2em;
}

.applyfilterbtn:hover,
.applyfilterbtn:focus {
    background: #01a0e2 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    border: none;
    outline: none;
}

.myBtn {
    width: 100%;
    letter-spacing: 1px;
    font-size: 15px;
}

.loader {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .text-primary {
        color: #1fa0e2 !important;
    }
    p {
        font: normal normal normal 13px/1.5 Helvetica Neue;
        color: #a5a5a5;
    }
}

.filter-label {
    font-size: 14px;
    font-weight: 500;
    font-family: Helvetica Neue;
    color: #464646;
}

.filter-btn {
    border: 2px solid #1fa0e2;
    border-radius: 8px;
}

.filter-icon {
    position: relative;
    cursor: pointer;
    color: #1fa0e2;
    font-size: 27px;
    line-height: 37px;
    position: relative;
    left: 24px;
}

.tableFixHead table tbody td .actionBtn,
.tableFixHead table tbody td .actionBtn:hover,
.tableFixHead table tbody td .actionBtn:focus {
    background: #1fa0e2;
    color: #fff;
    text-transform: capitalize;
    font: normal normal 400 11px/15px Helvetica Neue;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 4px;
    width: 80%;
}

.FontformoduleCount {
    font: normal normal 500 15px/20px Helvetica Neue !important;
}

.tableFixHead {
    table {
        position: relative;
        th.actionTh,
        td.actionTd {
            width: 150px;
            // width: 100%;
            line-height: 2;
            display: inline-block;
            min-height: 36px;
            padding: 8px 10px;
            span,
            button {
                white-space: normal;
            }
        }
        td.fixedColumn {
            z-index: 1;
        }
        th.fixedColumn:last-child,
        td.fixedColumn:last-child {
            right: 0px;
            box-shadow: none;
        }
        .fixedColumn:nth-last-child(2) {
            right: 150px;
            box-shadow: -5px 0 5px -5px rgb(160, 206, 214);
        }
        tbody {
            td {
                vertical-align: middle;
            }
        }
    }
}

.assessmentQueAns-block {
    height: 100vh;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0px;
    .assessmentTitle {
        font: normal normal 500 15px/1.5 Helvetica Neue;
        margin: 0px;
        padding: 10px;
        border-bottom: 1px solid #01a0e2;
        color: #01a0e2;
    }
    .qsBlock {
        border-bottom: 1px solid #01a0e2;
        // margin-top: 5px;
        .questions-block {
            margin: 0 auto;
            margin-top: 10px;
            &:first-child {
                margin-top: 0px;
            }
            .overlay {
                .Category {
                    /* margin: 0px 0px 5px -1px; */
                    position: relative;
                    padding: 5px 10px;
                    background: #7044cd 0% 0% no-repeat padding-box;
                    .catLbl {
                        color: white;
                        font: normal normal 500 15px/1.5 Helvetica Neue;
                        // padding: 5px 15px;
                    }
                }
                .groupQuestionDiv {
                    margin: 5px;
                    .ques-blk {
                        margin: 5px 0px;
                    }
                }
                .noSubCat {
                    padding: 5px;
                    .ques-blk {
                        padding-bottom: 5px;
                        &:last-child {
                            padding-bottom: 0px;
                        }
                    }
                }
                .groupQuestionDiv,
                .noSubCat {
                    .subCategory {
                        position: relative;
                        padding: 5px 10px;
                        background: #7044cd 0% 0% no-repeat padding-box;
                        .key {
                            font: normal normal 400 13px/1.5 Helvetica Neue;
                            color: #fff;
                        }
                        .value {
                            font: normal normal 500 13px/1.5 Helvetica Neue;
                            color: #fff;
                        }
                    }
                    .assessmentQue-block {
                        padding: 0px 0px;
                        .ques-card {
                            background: #fff 0% 0% no-repeat padding-box;
                            position: relative;
                            padding: 0px 5px;
                            box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
                            margin-bottom: 1rem;
                            &.otherQuesCard {
                                background: #f1f1f1 0% 0% no-repeat padding-box;
                                padding: 0px 10px;
                                margin: 10px;
                                box-shadow: none;
                                border-radius: 10px;
                            }
                            .question_number {
                                background: #7044cd 0% 0% no-repeat padding-box;
                                border-radius: 0px 0px 10px 10px;
                                color: #fff;
                                line-height: 30px;
                                font: normal normal 600 15px/30px Helvetica Neue;
                                width: 100%;
                                margin: 0px;
                                padding: 5px 0px 0px;
                            }
                            .questions {
                                font: normal normal 500 14px/1.4 Helvetica Neue;
                                letter-spacing: 0px;
                                color: #4c4c4c;
                                margin: 0px;
                                padding: 5px 0px 0px;
                                white-space: pre-line;
                            }
                            .option-block {
                                padding: 0.5rem;
                                .optList-Div {
                                    padding: 0px;
                                    margin: 0px;
                                    list-style: none;
                                    display: inline-block;
                                    width: 100%;
                                    li {
                                        float: left;
                                        width: 50%;
                                        margin: 0.2rem 0px;
                                        cursor: pointer;
                                        .optIndex {
                                            font: normal normal 600 14px/1.5 Helvetica Neue;
                                            letter-spacing: 0px;
                                            color: #7044cd;
                                            text-transform: capitalize;
                                            padding: 0.5rem 0px;
                                        }
                                        .optText-div {
                                            /* padding: 0.5rem; */
                                            position: relative;
                                            label {
                                                padding: 0.5rem 1rem 0.5rem 1rem;
                                                width: 100%;
                                                display: block;
                                                cursor: pointer;
                                                position: relative;
                                                z-index: 2;
                                                transition: color 200ms ease-in;
                                                overflow: hidden;
                                                margin: 0px;
                                                border-radius: 5px;
                                                background: #ffffff 0% 0% no-repeat padding-box;
                                                box-shadow: 0px 1px 6px #00000029;
                                                font: normal normal normal 14px/1.5 Helvetica Neue;
                                                letter-spacing: 0px;
                                                color: #464646;
                                                margin: 0px;
                                                padding-left: 30px;
                                                &:before {
                                                    width: 10px;
                                                    height: 10px;
                                                    border-radius: 50%;
                                                    content: "";
                                                    background-color: #7044cd;
                                                    position: absolute;
                                                    left: 50%;
                                                    top: 50%;
                                                    transform: translate(-50%, -50%) scale3d(1, 1, 1);
                                                    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
                                                    opacity: 0;
                                                    z-index: -1;
                                                }
                                                &:after {
                                                    width: 20px;
                                                    height: 20px;
                                                    content: "";
                                                    border: 2px solid #d1d7dc;
                                                    background-color: #fff;
                                                    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
                                                    background-repeat: no-repeat;
                                                    background-size: 10px;
                                                    background-position: center;
                                                    border-radius: 50%;
                                                    z-index: 2;
                                                    position: absolute;
                                                    left: 5px;
                                                    top: 50%;
                                                    transform: translateY(-50%);
                                                    cursor: pointer;
                                                    transition: all 200ms ease-in;
                                                }
                                            }
                                            input:checked ~ label {
                                                color: #fff;
                                                &:before {
                                                    transform: translate(-50%, -50%) scale3d(56, 56, 1);
                                                    opacity: 1;
                                                }
                                                &:after {
                                                    background-color: #7044cd;
                                                    border-color: white;
                                                }
                                            }
                                            input {
                                                width: 20px;
                                                height: 20px;
                                                order: 1;
                                                z-index: 2;
                                                position: absolute;
                                                left: 5px;
                                                top: 50%;
                                                transform: translateY(-50%);
                                                cursor: pointer;
                                                visibility: hidden;
                                            }
                                        }
                                    }
                                    .rating-block {
                                        .ratingStar {
                                            .star {
                                                font-size: 2rem;
                                                color: #ccc;
                                                margin: 7px 2px;
                                                padding: 5px 0px;
                                                display: inline-block;
                                            }
                                            .starFilled {
                                                color: #f7c001;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.excelbutton {
    cursor: pointer;
    // background: white;
    // padding: 2px;
    // border: 1px solid lightgray;
    .excelFont {
        font: normal normal 500 11px/1.5 Helvetica Neue;
    }
}

.totalParticipants {
    max-width: 160px !important;
    min-width: 160px !important;
}
