<div class="row m-0">
    <div class="col-8 m-auto">
        <app-topBar title="Assessments"></app-topBar>
    </div>
    <div class="col-3 m-auto">
        <!-- <app-loginInfo></app-loginInfo> -->
    </div>
    <div class="col-1 p-0 m-auto text-center">
        <!-- <button class="btn btn-default filter-btn" title="Filter" (click)="filterModalOpen(FilterModal)">
            <i class="fa fa-filter filter-icon" aria-hidden="true"></i>
        </button> -->
        <div class="btn-filter-wrap">
            <button class="btn btn-default filter-btn" [ngClass]="{'applied' : searchDet.filterFlag}" title="Filter"
                (click)="filterModalOpen(FilterModal)">
                <i class="fa fa-filter filter-icon" aria-hidden="true"></i>
            </button>
            <div class="btn-clear-filter" *ngIf="searchDet.filterFlag" (click)="removeFilter();">x</div>
            <div class="lbl-filter-applied" *ngIf="searchDet.filterFlag">Filter Applied</div>
        </div>
    </div>
</div>
<div class="homepage-block bg-Transperant p-l-15 p-r-15">

    <div class=" extraContent row m-0">
        <div class="col-4">
            <!-- <div class="p-l-0 p-r-5" [ngClass]="(searchDet.filterFlag)? 'col-6':'col-12'"> -->
            <div class="form-group has-search">
                <span *ngIf="!searchDet.searchData" class="fa fa-search form-control-feedback"
                    (click)="getSearchList(true)"></span>
                <span *ngIf="searchDet.searchData" class="fa fa-times-circle form-control-clear"
                    (click)="getSearchList(false)"></span>
                <input type="text" class="form-control" name="searchInput" placeholder="Search By Name"
                    [(ngModel)]="searchDet.searchInput" (keyup)="$event.keyCode == 13 ? getSearchList(true) : ''"
                    autocomplete="off" />
            </div>
            <!-- <div class="col-6 p-r-5 p-l-5" *ngIf="searchDet.filterFlag">
                        <div class="filterDiv">
                            <button class="clearFilter" (click)="removeFilter()">Clear filter</button> &nbsp; <span
                                style="color: green;font-size: 12px; font-weight: 500;">Filter applied</span>
                        </div>
                    </div> -->
        </div>
        <div class="col-4 p-0"></div>
        <div class="col-4 p-0"></div>
    </div>

    <!-- TABLE BLOCK -->
    <div class="table-block">
        <div class="table-responsive tableFixHead">
            <table datatable class="table" matSort (matSortChange)="sortData($event)">
                <thead>
                    <tr>
                        <!-- <th class="fixedColumn">SR NO</th> -->
                        <th class="fixedColumn" mat-sort-header="BranchName">Plant</th>
                        <th>OJT Start Date</th>
                        <th>Emp ID</th>
                        <th class="" mat-sort-header="EmpName">Emp Name</th>
                        <th class="" mat-sort-header="AssessmentTitle">Assessment Title</th>
                        <th class="" mat-sort-header="DeptName">Department</th>
                        <th class="" mat-sort-header="Workstation">Workstation</th>
                        <th class="" mat-sort-header="SkillLevel">Level</th>
                        <th class="" mat-sort-header="AssessmentType">Assessment Type</th>
                        <th class="" mat-sort-header="AssessmentDate">Assessment Date</th>
                        <th class="" mat-sort-header="Score">Score</th>
                        <th class="fixedColumn" mat-sort-header="Status">Status</th>
                        <th class="actionTh fixedColumn">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of assessmentData">
                        <td class="actionTd fixedColumn text-left">{{item.branchName || 'N/A'}}</td>
                        <td>{{item.ojtStartDate | date: 'dd-MM-yyyy'}}</td>
                        <td>{{item.cmpEmpId}}</td>
                        <td>{{item.empName}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.deptName}}</td>
                        <td>{{item.workstationName}}</td>
                        <td>{{item.levelName || 'N/A'}}</td>
                        <td>{{item.assessmentType || 'N/A'}}</td>
                        <td>{{(item.assessmentDate) ? (item.assessmentDate | date:'dd-MM-yyyy') : 'N/A'}}</td>
                        <td>{{item.score}}</td>
                        <td class="actionTd fixedColumn"
                            [ngClass]="{'completed':item.status == 'PASS','pending':item.status == 'FAIL'}">
                            {{item.status || 'N/A'}}</td>
                        <td class="actionTd fixedColumn">
                            <!-- <button type="button" class="btn btn-sm actionBtn">Action</button> -->
                            <i class="fa fa-eye viewIcon" (click)="openViewModal(assessmentDetail,item)"
                                style="cursor: pointer;"></i>
                        </td>
                    </tr>
                    <tr *ngIf="(assessmentData == null || assessmentData.length == 0)">
                        <td colspan="8" class="text-center no-record-found" *ngIf="!listLoading">
                            <!-- *ngIf="!listLoading" -->
                            Data not found
                        </td>
                        <td colspan="8" class="text-center loading-div" *ngIf="listLoading">
                            <app-loading></app-loading>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-pagination [staticPagination]="staticPagination" (paginationData)="loadMore($event)"></app-pagination>
    </div>
</div>

<!-- Filter Popup  -->
<ng-template #FilterModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title popup-header-txt" id="myModalLabel2">Filter</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="filterData" (ngSubmit)="submitFilterForm(filterData)" autocomplete="off"
        class="needs-validation">
        <div class="modal-body p-2" style="height: calc(100vh - 14vh);">
            <perfect-scrollbar>
                <div class="row m-b-0">
                    <label for="branchId" class="col-sm-12 col-form-label filter-label p-b-0">Plant</label>
                    <div class="col-sm-12">
                        <ng-multiselect-dropdown name="branchId" id="branchId"
                            class="custom-multiSelection customWidthForInter assessmentdropDown"
                            [placeholder]="'Select Plant'" [settings]="SingleDropdownSettings"
                            [data]="getSortFunction(plantList,'plant')" formControlName="branchId"
                            [(ngModel)]="searchDet.branchId" (onSelect)="onChange($event,'plant')"
                            (onDeSelect)="onDeSelectPlant(false,'plant')">
                        </ng-multiselect-dropdown>
                        <div *ngIf="submitAttempted && filterData.controls['branchId'].invalid && (filterData.controls['branchId'].touched || filterData.controls['branchId'].dirty)"
                            class="custom-errorMsg">
                            <div *ngIf="filterData.controls['branchId'].errors.required">
                                Please select plant
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-b-0">
                    <label for="deptLvlId" class="col-sm-12 col-form-label filter-label p-b-0">Department</label>
                    <div class="col-sm-12">
                        <ng-multiselect-dropdown name="deptLvlId" id="deptLvlId"
                            class="custom-multiSelection assessmentdropDown customWidthForRport"
                            [placeholder]="'Select Department'" [settings]="multipleDropdownSettings"
                            [data]="getSortFunction(masterDeptList,'cell')" formControlName="deptLvlId"
                            [(ngModel)]="searchDet.deptIds " (onSelect)="onChange($event,'plant')"
                            (onDeSelect)="onChange(false,'plant')" (onSelectAll)="onChangeAll($event,'userType')"
                            (onDeSelectAll)="onChangeAll($event,'userType')">
                        </ng-multiselect-dropdown>
                        <div *ngIf="submitAttempted && filterData.controls['deptLvlId'].invalid && (filterData.controls['deptLvlId'].touched || filterData.controls['deptLvlId'].dirty)"
                            class="custom-errorMsg">
                            <div *ngIf="filterData.controls['deptLvlId'].errors.required">
                                Please select department
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-b-0">
                    <label for="opt" class="col-sm-12 col-form-label filter-label">Workstation</label>
                    <div class="col-sm-12">
                        <ng-multiselect-dropdown name="masterWorkList" id="masterWorkList"
                            class="custom-multiSelection assessmentdropDown customWidthForRport"
                            [placeholder]="'Select Workstation'" [settings]="multipleDropdownSettings"
                            formControlName="masterWork" [data]="getSortFunction(masterWorkList,'work')"
                            [disabled]="false" [(ngModel)]="searchDet.masterWorkList">
                        </ng-multiselect-dropdown>
                        <div *ngIf="filterData.controls['masterWork'].invalid && (filterData.controls['masterWork'].touched || filterData.controls['masterWork'].dirty)"
                            class="custom-errorMsg">
                            <div *ngIf="submitAttempted && filterData.controls['masterWork'].errors.required">
                                Please select workstation
                            </div>
                        </div>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
        <div class="modal-footer footerBlock text-right">
            <button class="btn submitBtn event-btn" type="submit">
                <span *ngIf="submitSpinner" class="spinner-grow spinner-grow-sm" role="status"></span>
                <span *ngIf="submitSpinner" class="load-text"> Loading...</span>
                <span *ngIf="!submitSpinner" class="btn-text">Apply Filter</span>
            </button>
            <!-- <button type="button" class="btn cancelBtn" aria-label="Close" (click)="d('Cross click')">Cancel
            </button> -->
        </div>
    </form>
</ng-template>
<!-- Filter Popup  -->
<ng-template #assessmentDetail let-c="close">
    <app-assessessment-detail-modal [selectedDetail]="selectedRecForModal">
    </app-assessessment-detail-modal>
</ng-template>