<div class="row m-0">
    <div class="col-9 m-auto">
        <app-topBar title="My Skilling"></app-topBar>
    </div>
    <div class="col-3 m-auto">
        <app-loginInfo></app-loginInfo>
    </div>
    <!-- <div class="col-1 p-0 m-auto text-center">
        <button class="btn btn-default filter-btn" title="Filter" (click)="filterModalOpen(FilterModal)">
            <i class="fa fa-filter filter-icon" aria-hidden="true"></i>
        </button>
    </div> -->
</div>
<div class="homepage-block bg-Transperant p-l-15 p-r-15">

</div>